### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
Purchase_DF = pd.DataFrame ({
    "Average Price": [average_price],
    "Average Age" : [average_age],
    "Unique Items" : [unique_items]
})

Purchase_DF

   Average Price  Average Age  Unique Items
0       3.050987    22.714103           183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:


player_genders = purchase_data.groupby("Gender")



gender_counts = player_genders.nunique()["SN"]
gender_counts

gender_percent = gender_counts / total_players * 100
gender_percent


gender_data_df = pd.DataFrame({"Percentage of Players": gender_percent, "Total Count": gender_counts})
gender_data_df



gender_data_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:

# Count the total purchases by gender 
purchase_count = player_genders["Purchase ID"].count()

purchases_by_gender = player_genders["Item ID"].count()
purchase_price_gender = player_genders["Price"].mean()
total_purchases_gender = player_genders["Price"].sum()
avg_purchase_per_person = total_purchases_gender/gender_counts
spending_gender_df = pd.DataFrame({
    "Purchase Count": purchases_by_gender,
    "Average Purchase Price": purchase_price_gender,
    "Total Spent by Gender": total_purchases_gender,
    "Average Per Person": avg_purchase_per_person

})

spending_gender_df
spending_gender_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Spent by Gender":"${:,.2f}",
                                  "Average Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0,10,15,20,25,30,35,40,100]
age_categories = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_categories)


age_group_data = purchase_data.groupby("Age Group")


total_count_age = age_group_data["SN"].nunique()


percentage_by_age = (total_count_age/total_players) * 100


age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})



age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchase_count_age = age_group_data["Item ID"].count()
age_price_average = age_group_data["Price"].mean()
age_total_spent = age_group_data["Price"].sum()
age_spent_per_person = age_total_spent/total_count_age

age_analysis_df = pd.DataFrame ({
    "Purchase Count": purchase_count_age,
    "Average Purchase Price": age_price_average,
    "Total Spent by Age Group": age_total_spent,
    "Per Person Spending": age_spent_per_person })
age_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Spent by Age Group":"${:,.2f}",
                               "Per Person Spending":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
top_spenders = purchase_data.groupby("SN")

purchase_count_spender = top_spenders["Purchase ID"].count()



avg_purchase_price_spender = top_spenders["Price"].mean()


purchase_total_spender = top_spenders["Price"].sum()

purchase_total_spender


spending_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


format_spending = spending_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
format_spending.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [31]:

popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})